.carousel-item {
  height: 32rem;
  background-color: black;
  transition: transform 2s ease, opacity .5s ease-out
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0.5;
}